/**
 * Main window
 */
* {
  /* https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=315378 */
  -fx-primary: #000000;
  -fx-secondary: #2A120A;
  -fx-complementary: #000000;
  -fx-analogous: #000000;
  -fx-triadic: #2A120A;

  -fx-disabled-opacity: 0.4;
}

#root {
  -fx-background-color: -fx-complementary;
}

.border-pane {
  -fx-padding: 10;
  -fx-background-color: -fx-complementary;
}

.table-row-cell:filled:selected {
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}

.table-row-cell .scroll-bar:vertical {
    -fx-scale-x: 0;
}

/**
 * Elements
 */
.split-pane,
.scroll-pane,
.scroll-pane .viewport {
  -fx-background-color: transparent;
}


.choice-box,
.menu-button,
.button {
  -fx-background-color: -fx-primary;
  -fx-background-radius: 3px;
  -fx-cursor: hand;
  -fx-border-radius: 3px;
  -fx-text-fill: #fff;
}

.choice-box .context-menu {
  -fx-background-color: -fx-primary;
}

.choice-box > .label,
.choice-box .arrow-button,
.menu-button > .label,
.menu-button .arrow-button {
  -fx-text-fill: #fff;
}

.choice-box > .open-button > .arrow,
.menu-button > .arrow-button > .arrow {
  -fx-background-color: #fff;
}

.choice-box .menu-item {
  -fx-background-color: -fx-primary;
}

.choice-box .menu-item:hover {
  -fx-background-color: derive(-fx-primary, 30%);
}

.choice-box .menu-item .label {
  -fx-text-fill: #fff;
}


.choice-box:hover,
.choice-box:focused,
.menu-button:hover,
.menu-button:focused,
.button:hover,
.button:focused {
  -fx-background-color: derive(-fx-primary, 30%);
}

.button--large {
  -fx-font-size: 5.3em;
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
  -fx-padding: 2em 5em;
}

.button--round {
  -fx-background-radius: 100%;
  -fx-border-radius: 100%;
}

.headline {
  -fx-font-size: 2.3em;
  -fx-text-fill: #fff;
  -fx-border-color: #fff;
  -fx-border-width: 1px 0 1px;
  -fx-padding: .3em 1em;
}

.border-pane {
  -fx-padding: 10;
}


/* check-box */
.check-box {
  -fx-font-size: 1.2em;
}

.check-box:hover {
  -fx-cursor: hand;
}

.check-box:disabled {
  -fx-opacity: -fx-disabled-opacity;
}

.check-box > .box {
  -fx-background-color: #fff;
}

.check-box:focused > .box {
  -fx-background-color: #eee;
}

.check-box:hover > .box {
  -fx-background-color: #999;
}

.check-box > .box > .mark {
  -fx-background-color: transparent;
}

.check-box:selected > .box > .mark {
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-primary;
}

/* list-view */
.list-view,
.list-view .list-cell {
  -fx-background-color: transparent;
}

.list-view .list-cell:filled {
  -fx-border-color: rgba(255, 255, 255, 0.8);
  -fx-border-width: 0 0 1px;
}
/*
.list-view Text {
  -fx-fill: -fx-text-color;
}
*/
.list-view:focused .list-cell:filled:focused:selected {
  -fx-background-color: -fx-analogous;
}


/* scroll-bar */
.scroll-bar .track {
  -fx-fill: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-border-radius: 2.0em;
  -fx-fill: transparent;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 0.0 10.0 0.0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: derive(black, 90.0%);
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 2.0em;
  -fx-cursor: hand;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
  -fx-background-color: -fx-triadic;
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

.scroll-pane {
  -fx-background-color: transparent;
}

.scroll-bar .increment-button {
  visibility: hidden;
}

.scroll-bar .decrement-button {
  visibility: hidden;
}

.scroll-bar:vertical {
  -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
  visibility: hidden;
}

.scroll-bar:vertical .track {
  visibility: hidden;
}

.hide-thumb .scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}


/**
 * Main navigation / main menu / top bar
 */
.topbar {
  -fx-background-color: -fx-triadic;
  -fx-text-fill: #fff;
}

.topbar * {
  -fx-text-fill: #fff;
}

.topbar Text {
  -fx-fill: #fff;
}

.topbar .button {
  -fx-font-size: 1.2em;
}


/**
 * New Game
 */
.new-game-player-label {
  -fx-text-fill: #fff;
}

.new-game-player-label,
.new-game-player-name,
.new-game-player-type,
.new-game-player-color {
  -fx-font-size: 1.7em;
}

/**
* normales Menu
*/
.menu{
-fx-background-color: rgba(0, 0, 0, 0.9);
}

.menu .button {
  -fx-font-size: 1.8em;
  -fx-border-color: #fff;
  -fx-border-width: 1px;
  -fx-padding: .7em 1.4em;
  -fx-background-color: #fff;
  -fx-text-fill: -fx-triadic;
}

.menu .button:hover,
.menu .button:focused {
  -fx-background-color: -fx-triadic;
  -fx-text-fill: #fff;
}


/**
 * Pause-menu
 */
.popup-menu {
  /*-fx-background-color: rgba(49, 119, 120, .85); !* -fx-analogous with an opacity *!*/
  -fx-background-color: rgba(0, 0, 0, 0.9); /* -fx-triadic with an opacity */
  -fx-padding: 20px;
}

.popup-menu .headline {
  -fx-font-size: 3em;
  -fx-font-weight: bold;
}

.popup-menu .subline {
  -fx-font-size: 2em;
}

.popup-menu .button {
  -fx-font-size: 1.8em;
  -fx-border-color: #fff;
  -fx-border-width: 1px;
  -fx-padding: .7em 1.4em;
  -fx-background-color: #fff;
  -fx-text-fill: -fx-triadic;
}

.popup-menu .button:hover,
.popup-menu .button:focused {
  -fx-background-color: -fx-triadic;
  -fx-text-fill: #fff;
}


.popup-menu-text {
 /* -fx-text-fill: -fx-text-color;
  -fx-fill: -fx-text-color;*/
  -fx-font-size: 1.5em;
}


/**
 * Game board
 */
.game-board-text {
  -fx-font-size: 1.3em;
  -fx-fill: -fx-primary;
  -fx-text-fill: -fx-primary;
}

.game-board-infoText {
  -fx-font-size: 1.3em;
  -fx-text-fill: #fff;
  -fx-background-color: -fx-triadic;
  -fx-padding: .2em 1em;
  -fx-border-width: 0;
}

.game-board-button {
  -fx-font-size: 2em;
}

.game-board-wood {
  -fx-border-color: #000;
  -fx-border-width: 8px;
}

.card.is-scaleable:hover,
.card.is-scaleable:focused {
  -fx-scale-x: 5;
  -fx-scale-y: 5;
}
